

.authentication{
  background-image: url(../img/cinema.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.introduction{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  padding-top: 3%;
}

.enter, .register{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  color: white;
  margin-bottom: 2%;
}

.link-perfil{
  text-decoration: none;
}

a{
  text-decoration: none;
}

.banner{
  width: 100%;
  margin: 0;
  margin-top: -20px;
  margin-bottom: 20px;
}