body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}


.profile-img{
	width: 50%;
	height: auto;
	margin: 0 auto;
}

.modify{
	float: right;
}

.logo{
	width: 17%;
	height: auto;
}

.rew-button{
	text-decoration: none;
}

.banner{
	width: 100%;
	margin: 0;
	margin-top: -20px;
	margin-bottom: 20px;
}